@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #f2f2fc;
}

.button {
  background-color: #9c7fe8;
  font-size: 1.8rem;
  width: 20%;
  text-decoration: none;
  margin-right: auto;
  margin-left: auto;
  display: block;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
}

.sidebar-container {
  position: fixed;
  width: 20%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #1f163b;
  color: #fff;
}

.sidebar-container-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #1f163b;
  color: #fff;
}

.content-container {
  padding-left: 20%;
  padding-top: 20px;
}

.sidebar-logo {
  padding: 10px 15px 10px 30px;
  font-size: 2.8rem;
  margin: 30% 0%;
  width: 100%;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
}

.sidebar-navigation {
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
  position: relative;
}

.sidebar-navigation li {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 1.8rem;
  text-decoration: none;
  line-height: 2.2rem;
}

.sidebar-navigation li a {
  padding: 10px 15px 10px 30px;
  display: block;
  font-size: 1.8rem;
  text-decoration: none;
  color: #fff;
}

.sidebar-navigation li .fa {
  margin-right: 10px;
}

.sidebar-navigation li a:hover {
  text-decoration: none;
  outline: none;
  color: #06050c;
}

.sidebar-navigation li::before {
  background-color: #9c7fe8;
  position: absolute;
  content: "";
  height: 100%;
  left: 0;
  color: #1f163b;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 0px;
  z-index: -1;
}

.sidebar-navigation li:hover::before {
  width: 100%;
}

.openbtn {
  display: none;
  font-size: 2rem;
  margin: 2%;
}

@media screen and (max-width: 970px) {
  .sidebar-container {
    position: fixed;
    width: 0%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: #1f163b;
    color: #fff;
  }
  .content-container {
    padding-left: 0%;
  }
  .openbtn {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: #1f163b;
  }
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background: #1f163b;
  overflow-x: hidden;
  transition: 0.5s;
}

.my-img {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 2rem;
  margin-left: 10%;
  text-align: left;
  color: #fafafa;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.overlay-top {
  margin-bottom: 60%;
}

.intro {
  margin-top: 8%;
  text-align: center;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.main-heading {
  margin-top: 2%;
  font-family: "Rubik", sans-serif;
  font-size: 3.2rem;
  color: #302e4d;
}

.section-heading {
  margin-top: 8%;
  margin-bottom: 5%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 3.2rem;
  color: #302e4d;
}

.intro-text {
  font-family: "Nunito", sans-serif;
  font-size: 1.8rem;
  text-align: center;
  color: #544d66;
}

.icons {
  border-radius: 50%;
  width: 40px;
  text-align: center;
  display: inline-block;
  height: 40px;
  margin-left: 2%;
  font-size: 1.8rem;
  background-color: #1f163b;
}

.ico,
.social-icons {
  color: white;
  margin-top: 10px;
  text-align: center;
}

.icons:hover {
  height: 44px;
  font-size: 2rem;
  width: 44px;
}

@media screen and (max-height: 450px) {
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.content-div {
  margin: 5%;
}

/* About me section */

/*Timeline container*/

.about-heading {
  margin-top: 5%;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  color: #9c7fe8;
}

.sideline {
  width: 8%;
  border-bottom: 4px solid #9c7fe8;
}

.container {
  width: 80%;
  padding: 50px 0;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
}

.container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: #ccd1d9;
  z-index: 1;
}

/* -- Timeline------ */

.hexa{
  border: 0px;
  float: left;
  text-align: center;
  height: 35px;
  width: 60px;
  font-size: 22px;
  background: #f0f0f0;
  color: #3c3c3c;
  position: relative;
  margin-top: 15px;
}

.hexa:before{
  content: ""; 
  position: absolute; 
  left: 0; 
  width: 0; 
  height: 0;
  border-bottom: 15px solid #f0f0f0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: -15px;
}

.hexa:after{
  content: ""; 
  position: absolute; 
  left: 0; 
  width: 0; 
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #f0f0f0;
  bottom: -15px;
}

.timeline {
  position: relative;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background: rgb(213,213,213);
  background: -moz-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -o-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -ms-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: linear-gradient(to bottom, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  z-index: 5;
}

.timeline li {
  padding: 2em 0;
}

.timeline .hexa{
  width: 16px;
  height: 10px;
  position: absolute;
  background: #9c7fe8;
  z-index: 5;
  left: 0;
  right: 0;
  margin-left:auto;
  margin-right:auto;
  top: -30px;
  margin-top: 0;
}

.timeline .hexa:before {
  border-bottom: 4px solid #9c7fe8;
  border-left-width: 8px;
  border-right-width: 8px;
  top: -4px;
}

.timeline .hexa:after {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top: 4px solid #9c7fe8;
  bottom: -4px;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;
  text-align: center;
}

.flag-wrapper {
  text-align: center;
  position: relative;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(255,255,255);
  font-weight: 600;
  z-index: 15;
  padding: 6px 10px;
  text-align: left;
  border-radius: 5px;
}

.direction-l .flag:after,
.direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: rgb(255,255,255);
  border-width: 8px;
  pointer-events: none;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
  line-height: 1em;
  vertical-align: middle;
  color: #fff;
}

.direction-l .time-wrapper {
  float: none;
}

.direction-r .time-wrapper {
  float: none;
}

.time {
  background: #9c7fe8;
  display: inline-block;
  padding: 8px;
}

.desc {
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  background: rgb(254,254,254);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  box-shadow: 0 0 1px rgba(0,0,0,0.20);
  z-index: 15;
}

.desc p{
  font-size: 14px;
}

.direction-l .desc,
.direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  z-index: 15;
}

@media(min-width: 768px){
  .timeline {
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  
  .timeline .hexa {
    left: -28px;
    right: auto;
    top: 8px;
  }

  .timeline .direction-l .hexa {
    left: auto;
    right: -28px;
  }

  .direction-l {
    position: relative;
    width: 310px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 310px;
    float: right;
    text-align: left;
  }

  .flag-wrapper {
    display: inline-block;
  }
  
  .flag {
    font-size: 18px;
  }

  .direction-l .flag:after {
    left: auto;
    right: -16px;
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(254,254,254);
    border-width: 8px;
  }

  .direction-r .flag:after {
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(254,254,254);
    border-width: 8px;
    left: -8px;
  }

  .time-wrapper {
    display: inline;
    vertical-align: middle;
    margin: 0;
  }

  .direction-l .time-wrapper {
    float: left;
  }

  .direction-r .time-wrapper {
    float: right;
  }

  .time {
    padding: 5px 10px;
  }

  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
}

@media(min-width: 992px){
  .timeline {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .direction-l {
    position: relative;
    width: 380px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 380px;
    float: right;
    text-align: left;
  }
}

.interests-img {
  width: 100%;
}

.interersts {
  text-align: center;
}

.interest-heading,
.project-heading {
  margin-top: 5%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
}

@media screen and (max-width: 768px) {
  .container:before {
    left: 8px;
    width: 2px;
  }
  .timeline-block {
    width: 100%;
    margin-bottom: 30px;
  }
  .timeline-block-right {
    float: none;
  }

  .timeline-block-left {
    float: none;
    direction: ltr;
  }
}

@media screen and (max-width: 800px) {
  .button {
    background-color: #9c7fe8;
    font-size: 1.8rem;
    width: 80%;
    text-decoration: none;
    margin-right: auto;
    margin-left: auto;
    display: block;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
  }
}

/* Skills  */

#skills {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.skills {
  font-family: "Nunito", sans-serif;
  font-size: 1.8rem;
  color: #544d66;
  text-align: center;
}
.skill-img {
  margin-bottom: 5%;
  text-align: center;
  padding: 0% 5%;
  justify-content: space-evenly;
}

/*projects*/

.project-img {
  width: 100%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.project {
  margin-bottom: 10%;
}

.project-button {
  background-color: #9c7fe8;
  font-size: 1.8rem;
  text-decoration: none;
  width: 25%;
  color: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 30px;
  display: inline-block;
}

.project-link {
  color: #9c7fe8;
  font-weight: bold;
  margin-left: 4%;
  font-size: 1.8rem;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  display: inline-block;
}

@media screen and (max-width: 450px) {
  .project {
    margin-bottom: 20%;
  }
  .project-button {
    width: 50%;
    margin-bottom: 10%;
  }
}


/*   Experience  */

.work-card{
	box-shadow: 0 15px 30px 1px grey;
	background: rgba(255, 255, 255, 0.90);
	border-radius: 5px;
}

.work-card li{
  font-size: 16px;
}

.product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	float: right;
	display: inline-block;
}

#container img {width: 100%;height: 100%;}

.info {
    background: rgba(27, 26, 26, 0.9);
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.6;
    text-align: left;  
    font-size: 105%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.info h2 {text-align: center}
.product-image{ background-color: #06050c;}
.product-image:hover .info{transform: translateX(0);}

.info ul li{transition: 0.3s ease;}

.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}

